<div class="contentBodies">
    <div class="contentBodyHeaders">
        <span class="contentBodyHeaderTitles headerButtons">{{ workspace.title }} munkatér</span>
        <div class="contentBodyHeaderButtonsContainer">
            <button id="taskFilterButton" class="iconedButtons filterButtons headerButtons customButtons">Szűrő</button>
        </div>
    </div>
    <div class="workspaceTablesContainer">
        <a class="workspaceTablesContainers" *ngFor="let table of workspace.tables" routerLink="/tables/detailed" [queryParams]="{ id: table.id }">                
            <span class="workspaceTableContainerTitles">{{ table.title }}</span>                
        </a>
    </div>
</div>
<div class="fullViewBackground"></div>