<div class="contentHeaders">
    <span class="contentHeaderTitles">Személyes munkatér</span>
</div>
<div class="contentBodies">
    <!--<ng-container *ngIf="0 < workspaces.length; else notExsist">
        <div id="workspacesContainer">
            <div class="workspaceContainers" *ngFor="let workspace of workspaces">                
                <a class="workspaceContainerTitles" routerLink="/workspaces/detailed" [queryParams]="{ id: workspace.id }">{{ workspace.title }}</a>
            </div>
        </div>
    </ng-container>
    <ng-template #notExsist>
        <span>Nincs megjeleníthető munkatér!</span>
    </ng-template>-->
</div>