<div class="contentBodies">
    <div class="contentBodyHeaders">
        <span class="contentBodyHeaderTitles headerButtons">Munkaterek</span>
        <div class="contentBodyHeaderButtonsContainer">
            <button id="taskFilterButton" class="iconedButtons filterButtons headerButtons customButtons">Szűrő</button>
        </div>
    </div>
    <ng-container *ngIf="0 < workspaces.length; else notExsist">
        <div id="workspacesContainer">
            <a class="workspaceContainers" *ngFor="let workspace of workspaces" routerLink="/workspaces/detailed" [queryParams]="{ id: workspace.id }">                
                <span class="workspaceContainerTitles">{{ workspace.title }}</span>                
            </a>
        </div>
    </ng-container>
    <ng-template #notExsist>
        <span>Nincs megjeleníthető munkatér!</span>
    </ng-template>
</div>
<div class="fullViewBackground"></div>