.fullViewBackground {
    background-image: url("/assets/backgrounds/tableBackground.jpg");
}

#workspacesContainer {
    width: 100%;
    height: calc(100% - 52px);
    padding: 0px 12px;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    overflow-y: scroll;
}

.workspaceContainers {
    min-width: 85px;
    width: 100%;
    height: 120px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    /*background-color: rgba(9, 24, 55, 0.8);*/
    backdrop-filter: blur(5px);
    border-radius: 3px;
}

.workspaceContainerTitles {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
}